{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GestionHotel</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
    <style>
        body {
            display: flex;
            height: 100vh;
            overflow: hidden;
        }
        #menu {
            width: 16.67%;
            background-color: #343a40;
            overflow-y: auto;
            padding: 20px;
        }
        #content {
            width: 83.33%;
            padding: 20px;
            overflow-y: auto;
        }
        .table-container {
            max-height: 80vh;
            overflow-y: auto;
        }
        .btn-custom {
            width: 300px;
            height: 100px;
            margin-bottom: 20px;
            font-size: 18px;
        }
        .table th:nth-child(1),
        .table td:nth-child(1),
        .table th:nth-child(2),
        .table td:nth-child(2) {
            width: 150px;
            background-color: #d4edda;
        }
        .reservation-details {
            cursor: pointer;
        }
    </style>
</head>
<body>
    <div id="menu">
        {% include "menu.html" %}
    </div>
    <div id="content">
        <div class="container">
            <div class="row">
                <div class="d-flex justify-content-center align-items-center my-2">
                    <a href="{% url 'add_reservation' %}" class="btn btn-success text-center">Nouvelle Reservation</a>
                </div>
                <div class="table-container">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>N° Chambre</th>
                                <th>Prix Chambre</th>
                                {% for date in dates_uniques %}
                                    <th>{{ date }}</th>
                                {% endfor %}
                            </tr>
                        </thead>
                        <tbody>
                            {% for data in planning_data %}
                                <tr>
                                    <td>{{ data.numero_chambre }}</td>
                                    <td>{{ data.prix }}</td>
                                    {% for reservation in data.reservations %}
                                        <td class="{% if reservation.statut == 'confirmée' %}bg-success {% elif reservation.statut == 'reservée' %}bg-warning {% elif reservation.statut == 'terminée' %}bg-danger{% endif %}">
                                            <span class="reservation-details" data-bs-toggle="modal" data-bs-target="#exampleModal{{ reservation.id }}" data-adresse="{{ reservation.adresse_client }}">
                                                {{ reservation.nom_client }} {{ reservation.prenom_client }}
                                            </span>

                                            <!-- Modal -->
                                            <div class="modal fade" id="exampleModal{{ reservation.id }}" tabindex="-1" aria-labelledby="exampleModalLabel{{ reservation.id }}" aria-hidden="true">
                                                <div class="modal-dialog">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <h1 class="modal-title fs-5" id="exampleModalLabel{{ reservation.id }}">Information client</h1>
                                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                        </div>
                                                        <div class="modal-body">
                                                            <p>Nom: {{ reservation.nom_client }}</p>
                                                            <p>Prénom: {{ reservation.prenom_client }}</p>
                                                            <p>Adresse: {{ reservation.adresse_client }}</p>
                                                            <p>Date de réservation: {{ reservation.date }}</p>
                                                            <p>Date d'arrivée: {{ reservation.date_arrivee }}</p>
                                                            <p>Nombre de jours: {{ reservation.nombre_jours }}</p>
                                                            <p>Chambre Numero: {{ reservation.chambre }}</p>
                                                            <p>Statut: {{ reservation.statut }}</p>
                                                            <p>ID: {{ reservation.id }}</p>
                                                            <p>Note: {{ reservation.note }}</p>
                                                            <!-- Ajoutez d'autres détails ici -->
                                                        </div>
                                                        <div class="modal-footer">
                                                            <a href="modifier_reservation/{{ reservation.id }}" class="btn btn-primary">Modifier</a>
                                                            <a href="supprimer_reservation/{{ reservation.id }}" class="btn btn-danger">Supprimer</a>
                                                            <a href="copier_reservation_dans_historique/{{ reservation.id }}" class="btn btn-success">Terminer</a>
                                                            <a href="facture/{{ reservation.id }}" class="btn btn-info">Facture</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </td>
                                    {% endfor %}
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
