{% extends "base.html" %}

{% block title %}paiement{% endblock %}

{% block content %}
    <div class="container">
        <div class="row offset-md-3 my-3">
            <div class="col-md-6 w-25">
                <h3 class="bg-orange"><a href="https://www.orange.sn/orange-money" class="text-decoration-none text-white" target="_blank">Orange Money</a></h3>
                <p>
                    <b>Telephone</b>
                </p>
            </div>
            <div class="col-md-6 w-25">
                <h3 class="bg-primary"><a href="https://www.wave.com/fr/" target="_blank" class="text-decoration-none text-white">Wave</a></h3>
                <p>
                    <b>Telephone</b>
                </p>
            </div>
        </div>
    </div>
{% endblock %}

{% block footer %}
    {% include "footer.html" %}
{% endblock %}