/* a partie configuration des couleurs et du footer */
html{
    --orange : orange;
    --noire : black;
    --semi-noire: #111;
    --blanc : white;
    --white : whitesmoke;
    --vert: green;
    --rouge: red;
}
html, body{
    height: 99.9%;
}
body{
    display: flex;
    flex-direction: column;
    margin: 0;
    background-color: var(--white);
}
main{
    flex-grow: 1;
}

img.logo{
    height: 60px;
    border-radius: 50%;
}
/* la partie menu page d'accueil */
button{
    height: 100px;
    margin: 10px;
}
button:hover{
    background: var(--orange);
    transition: background .5s;
}
button a:hover{
    text-decoration: underline;
    color: var(--blanc);
}

a.a-menu{
    display: list-item;
}

/* le deuxieme menu pour les utilisateurs */
img.img-profile{
    width: 30%;
    height: auto;
    border-radius: 50%;
    cursor: pointer;
    margin-bottom: 25px;
}

/* le footer - pieds de page */
footer{
    background-color: var(--semi-noire);
    color: var(--blanc);
}

.orange{
    color: var(--orange);
}

.chambre-libre{
    background-color: var(--vert);
}
.chambre-occupee{
    background-color: var(--rouge);
}


/* Style pour tous les champs de formulaire */
form input[type="text"],
form input[type="email"],
form input[type="password"],
form textarea,
form select {
    /* Vos styles génériques pour tous les champs de formulaire */
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box; /* Pour inclure la bordure et le remplissage dans la largeur */
    /* Autres styles que vous souhaitez appliquer */
}

/* Style pour le bouton de soumission */
form button[type="submit"] {
    /* Vos styles pour le bouton */
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
