/* a partie configuration des couleurs et du footer */
html{
    --orange : orange;
    --noire : black;
    --semi-noire: #111;
    --blanc : white;
    --white : whitesmoke;
    --vert: green;
    --rouge: red;
}
html, body{
    height: 99.9%;
}
body{
    display: flex;
    flex-direction: column;
    margin: 0;
    background-color: var(--white);
}
main{
    flex-grow: 1;
}

img.logo{
    height: 60px;
    border-radius: 50%;
}
/* la partie menu page d'accueil */
button{
    height: 100px;
    margin: 10px;
}
button:hover{
    background: var(--orange);
    transition: background .5s;
}
button a:hover{
    text-decoration: underline;
    color: var(--blanc);
}

a.a-menu{
    display: list-item;
}

/* le deuxieme menu pour les utilisateurs */
img.img-profile{
    width: 30%;
    height: auto;
    border-radius: 50%;
    cursor: pointer;
    margin-bottom: 25px;
}

/* le footer - pieds de page */
footer{
    background-color: var(--semi-noire);
    color: var(--blanc);
}

.orange{
    color: var(--orange);
}

.chambre-libre{
    background-color: var(--vert);
}
.chambre-occupee{
    background-color: var(--rouge);
}

/* la page planning */

 table {
            border-collapse: collapse;
            width: 100%;
        }

        th, td {
            border: 1px solid black;
            padding: 8px;
            text-align: left;
        }

 .reservation-confirmed {
    background-color: green;
}

.reservation-not-confirmed {
    background-color: yellow;
}
