{% extends 'base.html' %}

{% block title %}Home Resto{% endblock %}

{% block content %}
<style>
    /* Style global pour le layout */
    body {
        display: flex;
        height: 100vh;
        overflow: hidden;
    }
    #menu {
        width: 16.67%;
        background-color: #343a40;
        overflow-y: auto;
        padding: 20px;
    }
    #content {
        width: 83.33%;
        padding: 20px;
        overflow-y: auto;
    }
    .btn-custom {
        width: auto;
        height: 38px;
        margin-bottom: 20px;
        font-size: 14px;
    }
    .orange {
        color: orange;
    }
    .form-inline {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .form-group {
        margin-right: 10px;
    }
    .card {
        margin-bottom: 20px;
    }
    .card img {
        height: 200px;
        object-fit: cover;
    }
</style>

<div style="display: flex; width: 100%; height: 100%;">
    <div id="menu">
        {% include 'menu.html' %}
    </div>
    <div id="content">
        <div class="text-center">
            <a class="btn btn-success mb-3" href="{% url 'add-menu' %}"><i class="fas fa-plus-circle"></i> Créer Menu</a>
        </div>
        
        <h2 class="text-center orange">MENU</h2>

        {% if object_list %}
            <div class="row row-cols-1 row-cols-md-3 g-4">
                {% for object in object_list %}
                    <div class="col mb-2 mx-2">
                        <div class="card h-100">
                            {% if object.image %}
                                <img src="{{ object.image.url }}" class="card-img-top" alt="Image du plat">
                            {% else %}
                                <img src="path/to/default-image.jpg" class="card-img-top" alt="Image par défaut">
                            {% endif %}
                            <div class="card-body">
                                <h5 class="card-title"><b>Nom du plat : </b>{{ object.nom_menu }}</h5>
                                <p class="card-text">
                                    <b>Prix Origine : </b>{{ object.prix_origine }}<br>
                                    <b>Prix Vente : </b>{{ object.prix_vente }}
                                </p>
                                <p>
                                    <a class="btn btn-warning btn-sm" href="{% url 'update-menu' object.id %}">Modifier</a>
                                    <a class="btn btn-danger btn-sm" href="{% url 'delete-menu' object.id %}">Supprimer</a>
                                </p>
                            </div>
                            <div class="card-footer">
                                <small class="text-body-secondary">{{ object.date }}</small>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% else %}
            <p>Aucun menu disponible.</p>
        {% endif %}
    </div>
</div>
{% endblock %}

{% block footer %}
    {% include "footer.html" %}
{% endblock %}
