{% load static %}
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Resto</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
    <link href="{% static 'style.css' %}" rel="stylesheet">
</head>
<body>
    <div id="menu">
        {% include 'menu.html' %}
    </div>
    <div id="content">
        <div class="text-center">
            <a class="btn btn-success mb-3" href="{% url 'add-menu' %}"><i class="fas fa-plus-circle"></i> Créer Menu</a>
        </div>

        <h2 class="text-center text-warning">MENU</h2>

        {% if object_list %}
            <div class="row row-cols-1 row-cols-md-3 g-4">
                {% for object in object_list %}
                    <div class="col mb-2 mx-2">
                        <div class="card h-100">
                            {% if object.image %}
                                <img src="{{ object.image.url }}" class="card-img-top" alt="Image du plat">
                            {% else %}
                                <img src="path/to/default-image.jpg" class="card-img-top" alt="Image par défaut">
                            {% endif %}
                            <div class="card-body">
                                <h5 class="card-title"><b>Nom du plat : </b>{{ object.nom_menu }}</h5>
                                <p class="card-text">
                                    <b>Prix Origine : </b>{{ object.prix_origine }}<br>
                                    <b>Prix Vente : </b>{{ object.prix_vente }}
                                </p>
                                <p>
                                    <a class="btn btn-warning btn-sm" href="{% url 'update-menu' object.id %}">Modifier</a>
                                    <a class="btn btn-danger btn-sm" href="{% url 'delete-menu' object.id %}">Supprimer</a>
                                </p>
                            </div>
                            <div class="card-footer">
                                <small class="text-body-secondary">{{ object.date }}</small>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% else %}
            <p>Aucun menu disponible.</p>
        {% endif %}
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
