{% extends 'base.html' %}

{% block title %}Créer Règle de Prix{% endblock %}

{% block content %}
    <h2 class="text-center text-primary">Ajouter une nouvelle règle de prix</h2>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <form method="post" class="form-horizontal">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <div class="form-group">
                        <div class="col-sm-12">
                            <button type="submit" class="btn btn-primary w-100">Créer</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}

{% block footer %}
    {% include "footer.html" %}
{% endblock %}
