{% extends 'base.html' %}

{% block title %}home-chambre{% endblock %}

{% block content %}
    <div class="row">
        <button class="col-sm-6 m-3 w-25"><a class="text-decoration-none" href="{% url 'confighotel:create-config' %}">Configuration</a></button>
        <button class="col-sm-6 m-3 w-25"><a class="text-decoration-none" href="{% url 'confighotel:create-rule' %}">Règle de prix</a></button>
        <button class="col-sm-6 m-3 w-25"><a class="text-decoration-none" href="{% url 'confighotel:list-config' %}">Voir configuration</a></button>
        <button class="col-sm-6 m-3 w-25"><a class="text-decoration-none" href="{% url 'confighotel:list-rule' %}">Voir règle de prix</a></button>
    </div>
{% endblock %}

{% block footer %}
    {% include "footer.html" %}
{% endblock %}