{% extends "base.html" %}
{% load static %}
{% block title %}home{% endblock %}
<!--<div>
    <img src="{#% static 'images/default_profile.png' %#}" alt="profile" class="img-profile" title="changer de profile">
    <span>Bienvenue à vous : {{ user.username }}</span>
</div>-->
{% block content %}
    <div class="container">
        <div class="row">
            <div class="offset-md-1">
                <button class="col-4 m-3 w-25 border-0 shadow-lg mb-5 rounded"><a class="a-menu text-decoration-none text-white fs-5 fw-semibold" href="{% url 'home-users' %}"><img src="{% static 'images/home.png' %}" alt="Icône Réservation" style="width: 50px; height: 50px;"><br>Home</a></button>
                <button class="col-4 m-3 w-25 border-0 shadow-lg mb-5 rounded"><a class="a-menu text-decoration-none text-white fs-5 fw-semibold" href="{% url 'liste_reservation' %}"><img src="{% static 'images/booking.png' %}" alt="Icône Réservation" style="width: 50px; height: 50px;"><br>Réservation</a></button>
                <button class="col-4 m-3 w-25 border-0 shadow-lg mb-5 rounded"><a class="a-menu text-decoration-none text-white fs-5 fw-semibold" href="{% url 'liste_chambre' %}"><img src="{% static 'images/chambre.png' %}" alt="Icône Réservation" style="width: 50px; height: 50px;"><br>Chambres</a></button>
                <button class="col-4 m-3 w-25 border-0 shadow-lg mb-5 rounded"><a class="a-menu text-decoration-none text-white fs-5 fw-semibold" href="{% url 'home-resto' %}"><img src="{% static 'images/resto.png' %}" alt="Icône Réservation" style="width: 50px; height: 50px;"><br>Service Restaurant</a></button>
                <button class="col-4 m-3 w-25 border-0 shadow-lg mb-5 rounded"><a class="a-menu text-decoration-none text-white fs-5 fw-semibold" href="{% url 'historique_reservations' %}"><img src="{% static 'images/historique.png' %}" alt="Icône Réservation" style="width: 50px; height: 50px;"><br>Historique</a></button>
                <button class="col-4 m-3 w-25 border-0 shadow-lg mb-5 rounded"><a class="a-menu text-decoration-none text-white fs-5 fw-semibold" href="{% url 'planning' %}"><img src="{% static 'images/calendrier.png' %}" alt="Icône Réservation" style="width: 50px; height: 50px;"><br>Planning</a></button>
                <button class="col-4 m-3 w-25 border-0 shadow-lg mb-5 rounded"><a class="a-menu text-decoration-none text-white fs-5 fw-semibold" href="{% url 'statistics' %}"><img src="{% static 'images/statistiques.png' %}" alt="Icône Réservation" style="width: 50px; height: 50px;"><br>Statistique</a></button>
                <button class="col-4 m-3 w-25 border-0 shadow-lg mb-5 rounded"><a class="a-menu text-decoration-none text-white fs-5 fw-semibold" href="{% url 'confighotel:home-config' %}"><img src="{% static 'images/parametres.png' %}" alt="Icône Réservation" style="width: 50px; height: 50px;"><br>Parametre</a></button>
                <button class="col-4 m-3 w-25 border-0 shadow-lg mb-5 rounded"><a class="a-menu text-decoration-none text-white fs-5 fw-semibold" href="{% url 'deconnexion' %}"><img src="{% static 'images/déconnecter.png' %}" alt="Icône Réservation" style="width: 50px; height: 50px;">Deconnexion</a></button>
            </div>
        </div>
    </div>
{% endblock %}

{% block footer %}
    {% include "footer.html" %}
{% endblock %}