{% extends "base.html" %}

{% block title %}Inscription {% endblock %}

{% block content %}

{% if messages %}
    {% for message in messages %}
        {% if message.tags == 'error' %}
            <div class="alert alert-danger text-center">
                {{ message }}
            </div>
        {% elif message.tags == 'success' %}
            <div class="alert alert-success text-center">
                {{ message }}
            </div>
        {% endif %}
    {% endfor %}
{% endif %}

<section class="subscription">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header">
                        <h6 class="text-center">Inscription - Avez-vous déjà un compte? <a href="{% url 'connexion' %}">Connexion</a></h6>
</h4>
                    </div>
                    <div class="card-body">
                        <form method="post">
                            {% csrf_token %}
                            <div class="form-group">
                                {{ form.username.label_tag }}
                                {{ form.username }}
                            </div>
                            <div class="form-group">
                                {{ form.email.label_tag }}
                                {{ form.email }}
                            </div>
                            <div class="form-group">
                                {{ form.password1.label_tag }}
                                {{ form.password1 }}
                            </div>
                            <div class="form-group">
                                {{ form.password2.label_tag }}
                                {{ form.password2 }}
                            </div>
                            <button type="submit" class="btn btn-primary btn-rounded">Inscrire</button>
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}

{% block footer %}
    {% include "footer.html" %}
{% endblock %}