/* static/style.css */

body {
    display: flex;
    height: 100vh;
    overflow: hidden;
    margin: 0;
}
#menu {
    width: 16.67%;
    background-color: #343a40;
    overflow-y: auto;
    padding: 20px;
}
#content {
    width: 83.33%;
    padding: 20px;
    overflow-y: auto;
}
.btn-custom {
    width: auto;
    height: 38px;
    margin-bottom: 20px;
    font-size: 14px;
}
.orange {
    color: orange;
}
.form-inline {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.form-group {
    margin-right: 10px;
}
.card {
    margin-bottom: 20px;
}
.card img {
    height: 200px;
    object-fit: cover;
}
