<footer>
    <div class="row container-fluid m-3">
        <div class="col-4">
            <p class="fw-bold">Adresse</p>
            <p class="orange">Cote d'Ivoire</p>
            <p class="orange">rue x angle y</p>
        </div>
         <div class="col-4">
            <p class="fw-bold">Nos services</p>
             <ul>
                 <li><span class="orange">Immobilier</span></li>
                 <li><span class="orange">Hôtellerie</span></li>
                 <li><span class="orange">Restauration</span></li>
             </ul>
        </div>
        <div class="col-4">
            <p class="fw-bold">Nos réseaux</p>
            <ul>
                <li><i class="fa-brands fa-facebook"></i>&nbsp;<span class="orange">Facebook</span></li>
                <li><i class="fa-brands fa-instagram"></i>&nbsp;<span class="orange">Instagram</span></li>
                <li><i class="fa-brands fa-whatsapp"></i>&nbsp;<span class="orange">Whatsapp</span></li>
            </ul>
        </div>
    </div>
</footer>